@model List<TravelAgency>

@{
    ViewBag.Title = "TravelAgencyAdminPanel";
}

@{
    Layout = "~/Views/Shared/_TravelAgencyAdminLayout.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Total Star Number</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.name</td>
            <td>@item.totalStarNumber</td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/UpdateTravelAgency?id=@item.ID" class="btn btn-warning">Update</a></td>
        </tr>
    }

</table>
