
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleAdmin.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/ListAirlines" class="w3-bar-item w3-button">List Airline</a>
        <a href="/Admin/ListFlights" class="w3-bar-item w3-button">List Flight</a>
        <a href="/Admin/AddAirline" class="w3-bar-item w3-button">Add Airline</a>
        <a href="/Admin/AddFlight" class="w3-bar-item w3-button">Add Flight</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <a href="/Home/Index" class="btn btn-danger pull-right">Log out</a>
            <h4>Airline Admin Management System</h4>

        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
