
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/css/StyleAdmin.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/ListHotels" class="w3-bar-item w3-button">List Hotels</a>
        <a href="/Admin/ListRooms" class="w3-bar-item w3-button">List Rooms</a>
        <a href="/Admin/AddHotel" class="w3-bar-item w3-button">Add Hotel</a>
        <a href="/Admin/AddRoom" class="w3-bar-item w3-button">Add Room</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <a href="/Home/Index" class="btn btn-danger pull-right">Log out</a>
            <h4>Hotel Admin Management System</h4>

        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
