
@{
    ViewBag.Title = "About";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bodystyle.css">
    <link rel="stylesheet" href="~/css/layout.css">
</head>
<body>
    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>About</h3>
                <img src="~/images/about_banner.jpg" alt="" />
                <p>Travel booking is a website established in 2023 where you can easily plan a trip. Travel booking founders are Alperen Turhan, Deniz Doğan and Onur Sönmez. You can easily buy a flight ticket to your destination through Travel booking and book hotels for accommodation at your destination. At the same time, you can buy tickets to scheduled tours and visit more places in a cheaper way. When you buy a ticket, you can choose the cheapest one with different company options. </p>
            </div>
        </div>
    </div>
</body>

</html>


