@model PasswordUpdateVM




<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/bodystyle.css">
    <link href="~/css/loginstyle.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
    <div class="padding-all-login">
        <div class="headerlogin">
            <h1>Travel Booking Register</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form asp-controller="Customer" asp-action="ChangePassword" method="post">
                    <input asp-for="oldPassword" type="password" name="oldPassword" placeholder="Valid Password" />
                    <input asp-for="newPassword" type="password" name="newPassword" placeholder="New Password" />
                    <input asp-for="newPasswordAgain" type="password" name="newPasswordAgain" placeholder="New Password Again" />
                    <input type="submit" value="Save">
                </form>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div asp-validation-summary="All">

    </div>
    <div>
        <p>@ViewBag.message1</p>
        <p>@ViewBag.message2</p>
        <p>@ViewBag.message3</p>
    </div>
</body>
</html>






