
@{
    ViewBag.Title = "Account Informations";

}

<link rel="stylesheet" href="~/css/StyleAdmin.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@section leftSideBarForMyAccout{


    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">

        <h1>My Account</h1>
        <a role="button" aria-pressed="true" class="btn btn-danger" href="/Customer/ChangePassword">Change Password</a>
        <br />
        <a role="button" aria-pressed="true" class="btn btn-danger" href="/Customer/ChangePassword">ABc Password</a>
        <br />
        <a role="button" aria-pressed="true" class="btn btn-danger" href="/Customer/ChangePassword">Chang Password</a>
        <br />
        <a role="button" aria-pressed="true" class="btn btn-danger" href="/Customer/ChangePassword">Change Password</a>
        <br />
        <a role="button" aria-pressed="true" class="btn btn-danger" href="/Customer/LogOut">Log Out</a>
    </div>




}



